﻿.formatoSolicitudServicio {
    font: 14px 'DejaVu Sans', Arial, sans-serif;
    background-color: white;
    width: 1224px; /* Para imprimir a 144 DPI  */
    height: 1582px; /* Para imprimir a 144 DPI  */
    color: black;
    text-align: left;
    padding: 30px;
}

.formatoSolicitudServicioEncabezado {
    width: 100%;
}

.formatoSolicitudServicioLogoInfra {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formatoSolicitudServicioDatosVersion {
    display: inline-block;
    float: right;
    color: blue;
    border-color: blue;
    font-size: 10px;
}

    .formatoSolicitudServicioDatosVersion td {
        padding: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: blue;
        width: 100px;
    }

.formatoSolicitudServicioTitulo {
    text-align: center;
}

.formatoSolicitudServicioTituloSpace {
    width: 29%;
    display: inline-block;
}

.formatoSolicitudServicioTituloLbl {
    width: 40%;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.formatoSolicitudServicioNumero {
    width: 29%;
    display: inline-block;
}

.formatoSolicitudServicioNumeroLbl {
    font-size: 30px;
    font-weight: bold;
}

.formatoSolicitudServicioNumeroTxt {
}

.formatoSolicitudServicioCuerpo {
    width: 100%;
    /*background-color: bisque;*/
}

.formatoSolicitudServicioPie {
    font-size: 11px;
    text-align:center;
    width: calc(100% - 60px);    
    bottom: 0;
    position: absolute;
}

.frmSol {
    margin-top: 20px;
}

    .frmSol div {
        padding-top: 2px;
        padding-bottom: 2px;
        line-height: 1.2rem;
    }

.frmSolTB {
    display: table;
    margin-top: 20px;
}

.frmSolTR {
    display: table-row;
}

.frmSolTD {
    display: table-cell;
}

.frmSolAlto {
    min-height: 200px;
    line-height: 1.3rem !important;
}

.frmSolAnchoCols {
    display: inline-flex !important;
}

.frmSolAnchoTxt {
    width: calc(100% - 40px);
}

.frmSolTitulo {
    text-align: center;
    background-color: #bccde2;
    color: #668ab9;
    font-weight: bold;
}

.frmSolContenido {
    border: 1px solid #688aaf;
}

.frmSolCol {
    margin-right: 20px;
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
}

.frmSolColIzq {
    text-align: right;
    width: calc(27% - 40px)
}

.frmSolColDer {
    text-align: left;
    width: calc(72% - 40px)
}

.frmSol100pc {
    width: 100%;
}

.frmSol60pc {
    width: 60%;
}

.frmSol50pc {
    width: 50%;
}

.frmSol30pc {
    width: 30%;
}

.frmSolRayado {
    background-image: url(../images/underline.png);
    background-repeat: repeat;
    background-size: 100% 18rem;
}

