﻿@font-face {
    font-family: "open sans";
    src: url("/assets/css/fonts/Open-Sans/open-sans.ttf") format("truetype");
}

@font-face {
    font-family: "open sans";
    font-weight: bold;
    src: url("/assets/css/fonts/Open-Sans/open-sans.bold.ttf") format("truetype");
}

@font-face {
    font-family: "open sans";
    font-style: italic;
    src: url("/assets/css/fonts/Open-Sans/open-sans.italic.ttf") format("truetype");
}

@font-face {
    font-family: "open sans";
    font-weight: bold;
    font-style: italic;
    src: url("/assets/css/fonts/Open-Sans/open-sans.bold-italic.ttf") format("truetype");
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/*********************************************************************************
-- Notificaciones - Estilo genérico
**********************************************************************************/

.Nota {
    border: 1px solid #FFEFB9;
    padding: 10px;
    color: #A87E00;
    font-family: 'Segoe UI';
    font-size: 12.5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: left;
    background: #FFF9E6 !important;
}

/*********************************************************************************
-- Catálogo - Estilo genérico
**********************************************************************************/

.catalogo {
    width: 900px;
    text-align: center;
    margin: 0 auto;
    /*margin-top: -70px;*/
    margin-top: 0px;
}

.catalogoAD {
    width: 900px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.titulo {
    font: normal 22px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    margin: 30px 0px 10px 0px;
    color: #333333;
}

.div.catalogo div.tituloIzquierda {
    font: normal 20px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    margin-top: 2px;
    text-align: left !important;
    color: #333333;
    padding-left: 20px;
}

.acciones {
    text-align: right;
    margin: 30px 10px 20px 0px;
}

.agregar {
    background-image: url('../images/nuevo.png');
    background-position: top center;
    line-height: 100;
    height: 32px;
    width: 32px;
    margin-left: -2px;
    margin-Right: -2px;
}

.contenido {
    text-align: left;
}

.centrado {
    text-align: center
}

.div.catalogo div.contenidoGris {
    padding: 25px;
    text-align: left;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: whitesmoke;
}

.div.catalogo div.contenidoBlanco {
    text-align: left;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: white;
    padding: 25px 20px 25px 20px;
}

/*********************************************************************************
-- Modal - Estilo genérico
**********************************************************************************/

div.modal {
    width: 92%;
    text-align: center;
    margin: 0 auto;
}

    div.modal div.titulo {
        font: normal 20px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
        margin: 20px 0px 15px 0px;
        color: #333333;
    }

    div.modal div.tituloAccion {
        font: normal 16px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
        margin: 25px 0px 10px 10px;
        color: #333333;
        text-align: left;
    }

    div.modal div.acciones {
        text-align: right;
        margin: 50px 10px 5px 0px;
    }

    div.modal div.contenido {
        z-index: 0;
        padding: 25px 30px 25px 30px;
        text-align: left;
        border: 1px solid #DDDDDD;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: whitesmoke;
    }

    div.modal div.contenidoSimple {
        text-align: left;
    }

    div.modal div.contenidoBlanco {
        text-align: left;
        border: 1px solid #DDDDDD;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: white;
        padding: 25px 20px 25px 20px;
    }

/*********************************************************************************
-- Etiquetas y Controles ASP
**********************************************************************************/

.etiqueta {
    text-indent: 10px;
    padding: 2px 0px 2px 0px;
    width: 120px;
    font: 12.5px "Segoe ui",arial,sans-serif;
    color: #333333;
}

.etiquetaSP {
    padding: 2px 0px 2px 0px;
    width: 120px;
    font: 12.5px "Segoe ui",arial,sans-serif;
    color: #333333;
}

.radioButtonList {
    font-size: 12.5px;
    font-family: 'Segoe UI';
    color: #333333;
    width: 280px;
}


/*********************************************************************************
-- Controles Telerik
**********************************************************************************/

.RadGrid {
    border-radius: 5px;
    overflow: hidden;
}

div.RadGrid_Metro th.rgHeader,
div.RadGrid_Metro th.rgSorted {
    background-image: none;
    font-family: 'Segoe UI';
    color: #333333;
    background-color: #F4F4F4;
    font-size: 13px;
}

.RadInput .riTextBox {
    border-radius: 4px !important;
}

.RadLabel {
    text-indent: 10px;
    padding: 2px 0px 2px 0px;
    width: 120px;
    font: 12.5px "Segoe ui",arial,sans-serif;
    color: #333333;
}

/**********************************************************************************
-- Cambio de password - Estilos para evaluar fiabilidad de contraseña
**********************************************************************************/

.Base {
    display: inline-block;
    /*font-size: 11px;
    font-family: Tahoma;
    font-weight: 500;*/
    overflow: hidden;
    text-align: center;
    color: white;
    border: 1px solid #333333;
}

.L0 {
    border: 0 none;
}

.L1 {
    background-color: #ff3933;
}

.L2 {
    background-color: #ff6633;
}

.L3 {
    background-color: #ff3399;
}

.L4 {
    background-color: #cccc33;
}

.L5 {
    background-color: #33cc00;
}

/**********************************************************************************
-- Marcos
**********************************************************************************/

.Marco {
    /*border: 1px solid #DDDDDD;*/
    padding: 10px;
    bottom: 10px;
    /*text-align: center;*/
    vertical-align: top;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*background: #F5F5F5;*/
    /*margin: auto;*/
    width: 100%;
}

.MarcoButton {
    /*border: 1px solid #DDDDDD;*/
    padding: 10px;
    bottom: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*background: #F5F5F5;*/
}

.MarcoGris {
    border: 1px solid #DDDDDD;
    padding: 4px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #F5F5F5;
    margin-right: 0px;
}

.MarcoNB {
    border: 1px solid #DDDDDD;
    padding: 6px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    margin-right: 0px;
}

/**********************************************************************************
-- Titulos
**********************************************************************************/

.Titulo {
    font: normal 20px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    margin: 25px 0px 20px 0px;
    color: #333333;
}

.TituloAccion {
    font: normal 16px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    margin: 15px 0px 10px 10px;
    color: #333333;
    text-align: left;
}

.Subtitulo {
    color: #333333;
    font: 14.5px "segoe ui",arial,sans-serif;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.SubtituloIzquierda {
    color: #333333;
    font: 14.5px "segoe ui",arial,sans-serif;
    text-align: left;
    padding: 10px 0px 10px 0px;
}

/**********************************************************************************
-- Indicadores
**********************************************************************************/

.Indicador {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 0px;
}

    .Indicador:hover {
        background-color: #F2F2F2;
    }

.tituloIndicador {
    font-size: 12px;
    font-weight: 300;
    color: #1a364a;
    font-family: 'Tahoma', Verdana, sans-serif;
    text-align: center;
}

.valorIndicador {
    font-family: 'Segoe UI';
    font-size: 20px;
    color: #333333;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}

.imagen {
    cursor: help;
}


/**********************************************************************************
-- Nested views
**********************************************************************************/

.Nested {
    padding-top: 30px;
    padding-bottom: 35px;
    background: #2291b5 0 0 url('../App_Resources/Imagenes/Sitio/Bluegradient.jpg') repeat-x;
}

    .Nested .RadTabStrip .leftTab {
        margin-left: 4px;
        float: left !important;
    }

    .Nested .RadTabStrip_Default .rtsLink {
        padding: 4px 10px 4px 10px !important;
    }

.NoRecords {
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
}

/**********************************************************************************
-- Telerik Modal Overlay / Scroll Parent Window
**********************************************************************************/

.TelerikModalOverlay {
    width: 100% !important;
    height: 100% !important;
}


.RadButton.rbCheckBox .rbText {
    left: -20px;
    font: 12.5px "Segoe ui",arial,sans-serif;
    color: #333333;
}


.CheckBox {
    font: 12.5px "Segoe ui",arial,sans-serif;
    color: #333333;
    margin-left: 16px;
}

.Label {
    width: 120px;
    font: 12px "Segoe ui",arial,sans-serif;
    color: #333333;
}



.MenuPrincipal {
    margin-top: 50px;
}



.box {
}

    .box .hover {
        width: 0%;
        height: 100%;
        background-color: rgba(56, 53, 53,0.568);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .4s all;
    }


.hover h2 {
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5em;
    text-transform: uppercase;
}


/*Bootstrap*/

.MarcoB {
    border: 1px solid #DDDDDD;
    padding: 10px;
    bottom: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #F5F5F5;
    margin: 10px;
}

.MarcoC {
    /*border: 1px solid #DDDDDD;
    padding: 10px;
    bottom: 10px;*/
    text-align: center;
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #F5F5F5;*/
    margin: 10px;
}

.MarcoForm {
    border: 1px solid #DDDDDD;
    padding: 10px;
    bottom: 10px;
    /*text-align: center;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #F5F5F5;
    margin: 10px;
}

.ComboB {
    width: 100%;
}
/*.titulosmarcoB{
    font-size:12px
}*/


@media screen and (max-width: 660px) {


    .ComboB {
        width: 100px;
    }

    .titulosmarcoB {
        font-size: 12px
    }
}

.form-group .k-dropdown {
    width: 80%;
}

.labelb {
}



.TreeConcefiguracionConceptos {
    max-height: 250px;
    overflow: auto;
    width: auto;
    height: 500px;
    font-size: large;
    margin: 0 2em;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    /*background-color: darkgray;*/
}



/* Absolute Center Spinner -----------------> */

.loading {
    position: fixed;
    display: none;
    z-index: 1031;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.1);
        /*opacity: 0.95;*/
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(254, 146, 27, 0.50) 1.5em 0 0 0, rgba(254, 146, 27, 0.60) 1.1em 1.1em 0 0, rgba(254, 146, 27, 0.70) 0 1.5em 0 0, rgba(254, 146, 27, 0.80) -1.1em 1.1em 0 0, rgba(9, 58, 128, 0.50) -1.5em 0 0 0, rgba(9, 58, 128, 0.60) -1.1em -1.1em 0 0, rgba(9, 58, 128, 0.70) 0 -1.5em 0 0, rgba(9, 58, 128, 0.80) 1.1em -1.1em 0 0;
            box-shadow: rgba(254, 146, 27, 0.50) 1.5em 0 0 0, rgba(254, 146, 27, 0.60) 1.1em 1.1em 0 0, rgba(254, 146, 27, 0.70) 0 1.5em 0 0, rgba(254, 146, 27, 0.90) -1.1em 1.1em 0 0, rgba(9, 58, 128, 0.50) -1.5em 0 0 0, rgba(9, 58, 128, 0.60) -1.1em -1.1em 0 0, rgba(9, 58, 128, 0.70) 0 -1.5em 0 0, rgba(9, 58, 128, 0.80) 1.1em -1.1em 0 0;
        }




/* Animation ------------------->  */
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.meses {
    width: 40px;
    text-align: center;
}

.imgMantenimiento {
    padding-top: 22px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.MasterCabecera {
    /*z-index: 3;*/
    /*max-width: 100%;*/
    /*min-width: 100%;*/
    /*position: fixed;*/
    /*top: 0px;*/
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #26669e;
    color: white;
    /*z-index: 999;
    max-width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0px;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #26669e;*/
}

.MasterTitulo {
    font: normal 18px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    /*margin: 0px;*/
    color: white;
    /*float:left;*/
    /*padding-left: 25px;*/
    /*height: 14px !important;*/
}

@media screen and (max-width: 700px) {
    .MasterTitulo {
        font: normal 12px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
        /*margin: 0px;*/
        color: white;
        /*float:left;*/
        /*padding-left: 25px;*/
        /*height: 14px !important;*/
    }
}


/*Stylos Layout*/


.MasterDTI {
    font: normal 18px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    color: white;
}

@media screen and (max-width: 700px) {
    .MasterDTI {
        font: normal 12px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
        color: white;
    }
}



/*Estilos del menú*/

.navbar {
    background-color: whitesmoke !important;
    line-height: 1.4285;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 0 !important;
    padding-bottom: 1px !important;
}

.navbar-nav {
    background-color: transparent !important;
    /*height: 25px;*/
}

    .navbar-nav .navbar-toggler {
        background-color: whitesmoke !important;
    }

.navbar-dark .navbar-toggler {
    color: #dedede;
    border-color: #adadad;
    background-color: darkgrey;
}

.navbar .dropdown-menu {
    width: 200px;
    line-height: 100%;
}

.navbar-nav .nav-item {
    border: none !important;
    background-color: whitesmoke;
}

    .navbar-nav .nav-item:hover {
        border: none !important;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 14px;
        color: #333 !important;
        padding: 15px;
    }

        .navbar-nav .nav-item .nav-link:hover {
            /*color: white !important;*/
            color: #333 !important;
            background-color: #e4e4e4 !important;
        }

.dropdown-submenu > .nav-link {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 30px !important;
}

.dropdown-menu > .nav-item .nav-link {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 30px !important;
}

/*Estilos del menú*/

.k-item div ul:hover {
    background-color: white !important;
}

.k-item div ul li {
    text-align: left;
    background-color: white !important;
}

    .k-item div ul li:hover {
        background-color: white !important;
    }

.MasterCuerpo {
    min-width: 98%;
    max-width: 98%;
    position: relative;
    padding-top: 90px;
    padding-bottom: 40px;
    height: 100%;
}

.MasterPie {
    max-width: 100%;
    min-width: 100%;
    position: fixed;
    bottom: 0px;
    height: 30px;
    background-color: #F3F4F5;
    z-index: 3;
}

.MasterUsuario {
    position: fixed;
    right: 25px;
    bottom: -10px;
    font: normal 14px Segoe UI;
    color: #333333;
}

.MasterCopyRight {
    bottom: -10px;
    position: fixed;
    left: 46%;
    font: normal 12px Segoe UI;
    color: #333333;
}

.form-control:focus {
    background-color: #e6e5e5;
    border-color: #adadad;
}
