﻿html {
    background-color: #F5F5F5;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

#content {
    width: 100%;
    min-height: 600px;
    margin-right: 25px;
    margin-top: 25px;
}

#header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
}

/*#content {
    min-height: 650px;
    margin-right: 25px;
    background-color: #F2F2F2;
    width: 100%;
}*/

#footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

    #footer p {
        margin: 0px;
        padding: 0px;
    }

.center {
    width: 75%;
    margin: 0px auto;
    text-align: center;
}

#logo {
    font-size: 30px;
    float: left;
    margin-top: 30px;
}

    #logo img {
        display: block;
        float: left;
        height: 60px;
        margin-top: -9px;
        margin-right: 10px;
        animation: latir infinite 5s linear;
    }


h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #1A4192;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #1A4192;
}

    .underlineHover:hover:after {
        width: 100%;
    }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #1A3C81;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #709CF6;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 70%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=text]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }

    input[type=text]:placeholder {
        color: #cccccc;
    }

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }


#circulo {
    width: 160px;
    height: 140px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.Titulo {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.btnLoggin {
    background-color: #56baed !important;
    border: none;
    color: white !important;
    padding: 15px 80px;
    text-align: center !important;
    border-radius: 5px 5px 5px 5px !important;
    margin: 5px 20px 40px 20px !important;
}

.rbDecorated {
    background-color: #56baed !important;
    border: none !important;
    color: white !important;
    text-align: center !important;
    border-radius: 5px 5px 5px 5px !important;
    margin: 5px 20px 40px 20px !important;
}

.TitleTI {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    /*margin-right: 125px;*/
    margin-top: 55px;
    font-style: italic;
    color: #CDCDCD;
}

.txtUsuario {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d !important;
    padding: 15px 32px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: auto !important;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.txtPassword {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d !important;
    padding: 15px 32px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    height: auto !important;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

/*.Login {
    width: 460px;
    height: 420px;
    margin: 180px auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background: #323232;
    border: solid;
}

.logoSistema {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background: white;
    border: 5px double #323232;
    position: absolute;
    margin-left: 360px;
    margin-top: -40px;
    z-index: 9999;
}

.imgLogoSistema {
    width: 85px;
    position: absolute;
    margin-left: 18px;
    margin-top: 18px;
}

.imgLogo {
    color: white;
    width: 320px;
    position: absolute;
    margin-left: 10px;
    margin-top: -84px;
}

.lblTitulo {
    font: normal 56px Segoe UI;
    color: white;
    text-decoration-color: silver;
    width: 340px;
    margin-left: 60px;
    position: absolute;
    margin-top: 40px;
    text-align: center;
}

.lblSubtitulo {
    font: normal 20px Segoe UI;
    color: white;
    text-decoration-color: silver;
    width: 340px;
    margin-left: 60px;
    position: absolute;
    margin-top: 120px;
    text-align: center;
}


.imgUsuario {
    width: 30px;
    position: absolute;
    margin-left: 50px;
    margin-top: 206px;
}

.imgPassword {
    width: 30px;
    position: absolute;
    margin-left: 50px;
    margin-top: 262px;
}

.btnLogin {
    width: 300px;
    height: 35px;
    position: absolute;
    margin-left: 90px;
    margin-top: 310px;
    cursor: pointer;
    background-color: #009FF5;
    border-color: #009FF5;
    color: white;
}

.msgError {
    width: 300px;
    height: 35px;
    position: absolute;
    margin-left: 90px;
    margin-top: 360px;
    cursor: pointer;
    color: white;
    text-align: center;
}



.lblArea {
    font: normal 14px Segoe UI;
    color: #333333;
    text-decoration-color: silver;
    margin-left: 10px;
    position: absolute;
    margin-top: 430px;
}


.lblVersion {
    position: absolute;
    margin-left: 380px;
    margin-top: 430px;
    font: normal 14px Segoe UI;
    color: #333333;
}





/* Absolute Center Spinner -----------------> */

.loading {
    position: fixed;
    display: none;
    z-index: 1031;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.1);
        /*opacity: 0.95;*/
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            /*-webkit-box-shadow: rgba(255, 100, 0, 0.60) 1.5em 0 0 0, rgba(50, 5, 170, 0.60) 1.1em 1.1em 0 0, rgba(255, 100, 0, 0.60) 0 1.5em 0 0, rgba(50, 5, 170, 0.60) -1.1em 1.1em 0 0, rgba(255, 100, 0, 0.4) -1.5em 0 0 0, rgba(50, 5, 170, 0.4) -1.1em -1.1em 0 0, rgba(255, 100, 0, 0.60) 0 -1.5em 0 0, rgba(50, 5, 170, 0.60) 1.1em -1.1em 0 0;
            box-shadow: rgba(255, 100, 0, 0.60) 1.5em 0 0 0, rgba(50, 5, 170, 0.60) 1.1em 1.1em 0 0, rgba(255, 100, 0, 0.60) 0 1.5em 0 0, rgba(50, 5, 170, 0.60) -1.1em 1.1em 0 0, rgba(255, 100, 0, 0.60) -1.5em 0 0 0, rgba(50, 5, 170, 0.60) -1.1em -1.1em 0 0, rgba(255, 100, 0, 0.60) 0 -1.5em 0 0, rgba(50, 5, 170, 0.60) 1.1em -1.1em 0 0;*/
            /*-webkit-box-shadow: rgba(254, 146, 27, 0.60) 1.5em 0 0 0, rgba(254, 146, 27, 0.60) 1.1em 1.1em 0 0, rgba(254, 146, 27, 0.60) 0 1.5em 0 0, rgba(254, 146, 27, 0.60) -1.1em 1.1em 0 0, rgba(9, 58, 128, 0.4) -1.5em 0 0 0, rgba(9, 58, 128, 0.4) -1.1em -1.1em 0 0, rgba(9, 58, 128, 0.60) 0 -1.5em 0 0, rgba(9, 58, 128, 0.60) 1.1em -1.1em 0 0;
            box-shadow: rgba(254, 146, 27, 0.60) 1.5em 0 0 0, rgba(254, 146, 27, 0.60) 1.1em 1.1em 0 0, rgba(254, 146, 27, 0.60) 0 1.5em 0 0, rgba(254, 146, 27, 0.60) -1.1em 1.1em 0 0, rgba(9, 58, 128, 0.60) -1.5em 0 0 0, rgba(9, 58, 128, 0.60) -1.1em -1.1em 0 0, rgba(9, 58, 128, 0.60) 0 -1.5em 0 0, rgba(9, 58, 128, 0.60) 1.1em -1.1em 0 0;*/
            -webkit-box-shadow: rgba(254, 146, 27, 0.50) 1.5em 0 0 0, rgba(254, 146, 27, 0.60) 1.1em 1.1em 0 0, rgba(254, 146, 27, 0.70) 0 1.5em 0 0, rgba(254, 146, 27, 0.80) -1.1em 1.1em 0 0, rgba(9, 58, 128, 0.50) -1.5em 0 0 0, rgba(9, 58, 128, 0.60) -1.1em -1.1em 0 0, rgba(9, 58, 128, 0.70) 0 -1.5em 0 0, rgba(9, 58, 128, 0.80) 1.1em -1.1em 0 0;
            box-shadow: rgba(254, 146, 27, 0.50) 1.5em 0 0 0, rgba(254, 146, 27, 0.60) 1.1em 1.1em 0 0, rgba(254, 146, 27, 0.70) 0 1.5em 0 0, rgba(254, 146, 27, 0.90) -1.1em 1.1em 0 0, rgba(9, 58, 128, 0.50) -1.5em 0 0 0, rgba(9, 58, 128, 0.60) -1.1em -1.1em 0 0, rgba(9, 58, 128, 0.70) 0 -1.5em 0 0, rgba(9, 58, 128, 0.80) 1.1em -1.1em 0 0;
        }




/* Animation ------------------->  */
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

*/
